<?php

$finder = PhpCsFixer\Finder::create()
->exclude('vendor')
->exclude('var')
->exclude('node_modules')
->in(__DIR__)
;

return PhpCsFixer\Config::create()
->setRules([
'@PSR2' => true,
'strict_param' => true,
'array_syntax' => ['syntax' => 'short'],
])
->setFinder($finder)
->setRiskyAllowed(true)
;
